.chatroom {
    width: 90%;
    display: flex;
    margin: 0 auto;
    font-family: sans-serif;
    height: 98%;
    border-radius: 10px;
}

.friend-list {
    background-color: #2e3238;
    width: 25%;
    color: white;
}

.my-profile {
    padding-left: 20px;
}

.friend-profile {
    padding: 10px 0 10px 20px;
    border-top: 1px solid #292c33;
    border-bottom: 1px solid #292c33;
    margin: 0;
    cursor: pointer;
}

.chat-content {
    background-color: #eee;
    width: 75%;
    padding: 0 19px;
    height: 100%;
}

.friend-name {
    border-bottom: 1px solid #d6d6d6;
    text-align: center;
    padding-bottom: 16px;
}

.text-section {
    height: 80%;
    overflow: scroll;
    /*TODO*/
}

.my-content {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 16px;
}

.my-text {
    margin: 0 10px;
    padding: 9px 13px;
    border-radius: 4px;
    background-color: rgba(0, 246, 103, 0.5);
}

.other-content {
    display: flex;
    margin-bottom: 16px;
}

.other-text {
    margin: 0 10px;
    padding: 9px 13px;
    border-radius: 4px;
    background-color: white;
}

.send-section {
    position: fixed;
    padding-top: 10px;
    border-top: 1px solid #d6d6d6;
    width: 65%;
    bottom: 30px;
    display: flex;
}

.input-area {
    border: 1px solid #c1c1c1;
    flex-grow: 2;
}

.send-button {
    border-radius: 4px;
    background-color: white;
    padding: 3px 30px;
    border: 1px solid #c1c1c1;
    color: #222;
    margin-left: 20px;
}

.send-button:active {
    border: #222;
}